:root {
    --cor-primaria: #0D1933;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FA;

    --cor--link: #272727;
   
    --montserrat: 'Montserrat', sans-serif;
    --Krona-one:   'Krona One', sans-serif;

}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.apresentacao{
    padding: 5rem 5rem;
    display: flex;
    flex-direction:  row;     
    margin: 2rem;
    font-family: var(--montserrat)     
    
    
}

@media(min-width:801px) and (max-width:1200px){

    .cabecalho {
        display: flex;
        justify-content: center;
        font-size: 1.5rem;
        

    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 1rem 2rem;
    }

    .apresentacao__imagem{

        width: 100%;

    }

    .apresentacao__conteudo{
        width: auto;
    }
}

@media(min-width:516px) and (max-width:800px){

    
    .cabecalho {
        display: flex;
        justify-content: center;
        font-size: 1rem;
        

    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 1rem 0;
    }


    .apresentacao__imagem{

        width: auto;

    }

    
    .apresentacao__conteudo{
        width: 100%;
    }
}


/* celulares*/

@media(min-width:280px) and (max-width:515px){

    
    .cabecalho {
        display: flex;
        justify-content: center;
        font-size: 0.5em;
        

    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 0.5rem 0;
    }


    .apresentacao__imagem{

        width: 100%;

    }

    
    .apresentacao__conteudo{
        width: auto;
        gap: 2rem;
    }

  
}


