:root {
    --cor-primaria: #0D1933;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4FA;

    --cor--link: #272727;
   
    --montserrat: 'Montserrat', sans-serif;
    --Krona-one:   'Krona One', sans-serif;

}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.apresentacao{
    padding: 5rem 5rem;
    display: flex;
    flex-direction:  row;     
    margin: 2rem;
    font-family: var(--montserrat)     
    
    
}

