@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 2rem 7rem;
}

.cabecalho__menu{
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link{
    font-size: 1.5em;
    font-family: var(--montserrat);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;


}

.apresentacao{
    display: flex;
    align-items: center;
    
    gap: 82px
}


.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;    
    font-family: var(--Krona-one);
    line-height: 3rem;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5em;
    font-family: var(--montserrat);
    text-align: left;
    line-height: 2rem;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.apresentacao__links__subtitulo {
    font-family: var(--montserrat);
    font-weight: 400;
    font-size: 1.5em;

}

.icones__imagem img{
    width: 10%;
}

.apresentacao__links__navegacao{
   /* background-color: #22D4FD; */
    display: flex;
    justify-content: center;
    
    gap: 1rem;    
    border: 0.1em solid var(--cor-terciaria);
    width: 100%;
    text-align: center;
    border-radius: 0.8rem;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 0;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
}

.apresentacao__links__link:hover {
    background-color: var(--cor--link);

}

.apresentacao__imagem {
    width: auto;
    
}

.rodape {
    
    text-align: center;
    padding: 1rem;
    color: var(--cor-primaria);
    background-color: var();
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}