@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 2rem 7rem;
}

.cabecalho__menu{
    display: flex;
    gap: 5rem;
}

.cabecalho__menu__link{
    font-size: 1.5em;
    font-family: var(--montserrat);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;


}

.apresentacao{
    display: flex;
    align-items: center;
       
    gap: 82px
}


.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
   
    
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;    
    font-family: var(--Krona-one);
    line-height: 3rem;
}

.titulo-destaque{
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5em;
    font-family: var(--montserrat);
    
    line-height: 2rem;
}

.apresentacao__imagem {
    width: auto;
    
}

.rodape {    
    text-align: center;
    padding-top: 10rem;
    padding-bottom: 1rem;
    color: var( --cor-secundaria);
    /*background-color: var(--cor-terciaria);*/
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}