body{
    background-color: #0D1933;
    color: #F6F6F6;
}

.container-geral{
    display: flex;
    flex-direction:  row;  
    margin-top: 5rem;
    font-family: 'Poppins', sans-serif;
    padding: 5rem  5rem 0 5rem;
    
    
    
}
.texto-cabecario{
    font-weight: 700;
    text-align: center;
}


.conteudo{
    font-weight: 400;
    text-align: justify;
    padding-bottom: 2rem;
}

strong{
    color: #22D4FD;
}

/*Botão */

.botao{
    text-align: center;
    font-weight: 700;       
    flex-direction: row;
    color: #000000;  
    
}

.botao-redessociais {
    margin: 1rem;
    text-decoration: none;
    border: 1px solid #22D4FD;
    background-color: aqua;
    padding: 0.8rem 3rem;
    border-radius: 5rem; 
   
    
}


.imagem{
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding-left: 5rem;
}